@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600;700;800;900&display=swap');



/* padrões do projeto */
:root {
  --bs-blue: #263A8B;
}


body {
  font-family: 'Poppins', sans-serif !important;
  box-sizing: border-box;
}


/* titulos */

.lg-title {
  font-size: 3.0rem !important;


}

.md-title {
  font-size: 2.20rem;
}

.sm-title {
  font-size: 2.0rem !important;
}

/* formatações e padrões */

.bold {
  font-weight: bold !important;
}

.semibold {
  font-weight: 700 !important;
}

p {
  margin: 0px !important;
}

.border {
  border-radius: 1rem !important;

}

@media(min-width: 900px) {
  .border {
    border-radius: 8px;
  }
}


html hr {
  position: relative;
  height: 4px !important;
  opacity: 100%;
  background: #FFD233;
}

/* textos  e opções*/

.lg-option {
  font-size: 1rem !important;
  font-weight: 700 !important;
}

.sm-option {
  font-size: 0.80rem !important;
  font-weight: 600 !important;
  margin-bottom: 0px !important;
}


.lg-text {
  font-size: 1.5rem !important;
}

.md-text {
  font-size: 1rem !important;
  font-weight: 400;
}

.sm-text {
  font-size: 0.75rem !important;

}

/* cores */

.black {
  color: #333333 !important;
}



.white {
  color: white !important;
}




.yellow {
  color: #FFD233 !important;
}

.blue {
  color: #263A8B !important;
}

.bg-black {
  background-color: black !important;
}

.bg-white {
  background-color: white !important;
}

.bg-yellow {
  background-color: #FFD233 !important;
}

.bg-blue {
  background-color: #263A8B !important;
}


/* icones */

.icone {
  width: 42px;
  height: 42px;
}


.icone2 {
  background-color: #FFD233;
  border-radius: 1rem;
  width: 3rem;
  height: 3rem;
  padding: .5rem;
}



/* margens */

.m-6 {
  margin: 3.5rem !important;
}

.m-7 {
  margin: 4rem !important;
}

.m-8 {
  margin: 4.5rem !important;
}

.m-9 {
  margin: 5rem !important;
}



.ms-6 {
  margin-left: 3.5rem !important;
}

.ms-7 {
  margin-left: 4rem !important;
}

.ms-8 {
  margin-left: 4.5rem !important;
}

.ms-9 {
  margin-left: 5rem !important;
}



.me-6 {
  margin-right: 3.5rem !important;
}

.me-7 {
  margin-right: 4rem !important;
}

.me-8 {
  margin-right: 4.5rem !important;
}

.me-9 {
  margin-right: 5rem !important;
}

.mt-6 {
  margin-top: 3.5rem !important;
}



.mt-7 {
  margin-top: 4rem !important;
}

.mt-8 {
  margin-top: 4.5rem !important;
}

.mt-9 {
  margin-top: 5rem !important;
}

.mb-0 {
  margin-bottom: 0px !important;
}

.mb-6 {
  margin-bottom: 3.5rem !important;
}

.mb-7 {
  margin-bottom: 4rem !important;
}

.mb-8 {
  margin-bottom: 4.5rem !important;
}

.mb-9 {
  margin-bottom: 5rem !important;
}



.mx-6 {
  margin-right: 3.5rem !important;
  margin-left: 3.5rem !important;
}

.mx-7 {
  margin-right: 4rem !important;
  margin-left: 4rem !important;
}

.mx-8 {
  margin-right: 4.5rem !important;
  margin-left: 4.5rem !important;
}

.mx-9 {
  margin-right: 5rem !important;
  margin-left: 5rem !important
}



.my-6 {
  margin-top: 3.5rem !important;
  margin-bottom: 3.5rem !important;
}

.my-7 {
  margin-top: 4rem !important;
  margin-bottom: 4rem !important;
}

.my-8 {
  margin-top: 4.5rem !important;
  margin-bottom: 4.5rem !important;
}

.my-9 {
  margin-top: 5rem !important;
  margin-bottom: 5rem !important;
}


/* paddings */

.p-6 {
  padding: 3.5rem !important;
}

.p-7 {
  padding: 4rem !important;
}

.p-8 {
  padding: 4.5rem !important;
}

.p-9 {
  padding: 5rem !important;
}



.ps-6 {
  padding-left: 3.5rem !important;
}

.ps-7 {
  padding-left: 4rem !important;
}

.ps-8 {
  padding-left: 4.5rem !important;
}

.ps-9 {
  padding-left: 5rem !important;
}



.pe-6 {
  padding-right: 3.5rem !important;
}

.pe-7 {
  padding-right: 4rem !important;
}

.pe-8 {
  padding-right: 4.5rem !important;
}

.pe-9 {
  padding-right: 5rem !important;
}

.pt-6 {
  padding-top: 3.5rem !important;
}



.pt-7 {
  padding-top: 4rem !important;
}

.pt-8 {
  padding-top: 4.5rem !important;
}

.pt-9 {
  padding-top: 5rem !important;
}



.pb-6 {
  padding-bottom: 3.5rem !important;
}

.pb-7 {
  padding-bottom: 4rem !important;
}

.pb-8 {
  padding-bottom: 4.5rem !important;
}

.pb-9 {
  padding-bottom: 5rem !important;
}



.px-6 {
  padding-right: 3.5rem !important;
  padding-left: 3.5rem !important;
}

.px-7 {
  padding-right: 4rem !important;
  padding-left: 4rem !important;
}

.px-8 {
  padding-right: 4.5rem !important;
  padding-left: 4.5rem !important;
}

.px-9 {
  padding-right: 5rem !important;
  padding-left: 5rem !important
}



.py-6 {
  margin-top: 3.5rem !important;
  margin-bottom: 3.5rem !important;
}

.py-7 {
  margin-top: 4rem !important;
  margin-bottom: 4rem !important;
}

.py-8 {
  padding-top: 4.5rem !important;
  padding-bottom: 4.5rem !important;
}

.py-9 {
  padding-top: 5rem !important;
  padding-bottom: 5rem !important;
}







/* container */

@media (min-width: 1600px) {
  .container {
    max-width: 1480px !important;
  }
}







/* bottons */

.sm-bd-white-btn {
  box-sizing: border-box;
  height: 1.2rem;
  width: fit-content;
  min-width: 6.125rem;
  background-color: transparent;
  border: 1px solid;
  border-radius: 1rem;
  color: #ffffff;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 400;
  text-decoration: none;
  text-align: center;
  font-weight: bold;

}

.sm-bd-white-btn:hover {

  color: #263A8B;
  outline: 0;
}


.sm-bd-blue-btn {
  box-sizing: border-box;
  height: 1.2rem;
  width: fit-content;
  min-width: 6.125rem;
  background-color: transparent;
  border: 1px solid;
  border-radius: 1rem;
  color: #263A8B;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 400;
  text-decoration: none;
  text-align: center;
  font-weight: bold;

}

.sm-bd-blue-btn:hover {

  color: #ffffff;
  outline: 0;
}


.sm-blue-btn {
  box-sizing: border-box;
  height: 1.2rem;
  width: fit-content;
  min-width: 6.125rem;
  background-color: transparent;
  border: 1px solid #263A8B;
  background-color: #263A8B;
  border-radius: 1rem;
  color: #ffffff;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 400;
  text-decoration: none;
  text-align: center;
  font-weight: bold;


}

.sm-blue-btn:hover {

  color: #263A8B;
  outline: 0;
}

.sm-white-btn {
  box-sizing: border-box;
  height: 1.2rem;
  width: fit-content;
  min-width: 6.125rem;
  background-color: transparent;
  border: 1px solid #ffffff;
  background-color: #ffffff;
  border-radius: 1rem;
  color: #263A8B;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 400;
  text-decoration: none;
  text-align: center;
  font-weight: bold;


}

.sm-white-btn:hover {

  color: #ffffff;
  outline: 0;
}






.md-bd-blue-btn {
  box-sizing: border-box;
  height: 2.3rem;
  width: fit-content;
  min-width: 8.75rem;
  background-color: transparent;
  border: 1px solid;
  border-radius: 1rem;
  color: #263A8B;
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: 400;
  text-indent: 5px;
  text-decoration: none;
  text-align: center;
  font-weight: bold;


}

.md-bd-blue-btn:hover {

  color: #fff;
  outline: 0;
}

.md-bd-white-btn {
  box-sizing: border-box;
  height: 2.3rem;
  width: fit-content;
  min-width: 8.75rem;
  background-color: transparent;
  border: 1px solid;
  border-radius: 1rem;
  color: #ffffff;
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: 400;
  text-indent: 5px;
  text-decoration: none;
  text-align: center;
  font-weight: bold;


}

.md-bd-white-btn:hover {

  color: #263A8B;
  outline: 0;
}

.md-blue-btn {
  box-sizing: border-box;
  height: 2.3rem;
  width: fit-content;
  min-width: 8.75rem;
  background-color: #263A8B;
  border: 1px solid #263A8B;
  border-radius: 1rem;
  color: #ffffff;
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: 400;
  text-indent: 5px;
  text-decoration: none;
  text-align: center;
  font-weight: bold;


}

.md-blue-btn:hover {

  color: #263A8B;
  outline: 0;
}

.md-white-btn {
  box-sizing: border-box;
  height: 2.3rem;
  width: fit-content;
  min-width: 8.75rem;
  background-color: #ffffff;
  border: 1px solid #263A8B;
  border-radius: 1rem;
  color: #263A8B;
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: 400;
  text-indent: 5px;
  text-decoration: none;
  text-align: center;
  font-weight: bold;


}

.md-white-btn:hover {

  color: #ffffff;
  outline: 0;
}





.lg-bd-blue-btn {
  box-sizing: border-box;
  height: 3.10rem;
  width: fit-content;
  min-width: 11.5rem;
  background-color: transparent;
  border: 1px solid;
  border-radius: 1rem;
  color: #263A8B;
  cursor: pointer;
  font-size: 1.5rem;
  font-weight: 700;
  text-indent: 5px;
  text-decoration: none;
  text-align: center;
  font-weight: bold;


}

.lg-bd-blue-btn:hover {

  color: #fff;
  outline: 0;
}

.lg-bd-white-btn {
  box-sizing: border-box;
  height: 3.10rem;
  width: fit-content;
  min-width: 11.5rem;
  background-color: transparent;
  border: 1px solid;
  border-radius: 1rem;
  color: #ffffff;
  cursor: pointer;
  font-size: 1.5rem;
  font-weight: 700;
  text-indent: 5px;
  text-decoration: none;
  text-align: center;
  font-weight: bold;


}

.lg-bd-white-btn:hover {

  color: #263A8B;
  outline: 0;
}

.lg-blue-btn {
  box-sizing: border-box;
  height: 3.10rem;
  width: fit-content;
  min-width: 11.5rem;
  background-color: #263A8B;
  border: 1px solid #263A8B;
  border-radius: 1rem;
  color: #ffffff;
  cursor: pointer;
  font-size: 1.5rem;
  font-weight: 700;
  text-indent: 5px;
  text-decoration: none;
  text-align: center;
  font-weight: bold;


}

.lg-blue-btn:hover {

  color: #263A8B;
  outline: 0;
}

.lg-white-btn {
  box-sizing: border-box;
  height: 3.10rem;
  width: fit-content;
  min-width: 11.5rem;
  background-color: #ffffff;
  border: 1px solid #263A8B;
  border-radius: 1rem;
  color: #263A8B;
  cursor: pointer;
  font-size: 1.5rem;
  font-weight: 700;
  text-indent: 5px;
  text-decoration: none;
  text-align: center;
  font-weight: bold;


}

.lg-white-btn:hover {

  color: #ffffff;
  outline: 0;
}




.bt-animation-1 {
  border-color: #263A8B;
  color: #263A8B;
  background-image: -webkit-linear-gradient(45deg, #263A8B 50%, transparent 50%);
  background-image: linear-gradient(45deg, #263A8B 50%, transparent 50%);
  background-position: 100%;
  background-size: 400%;
  -webkit-transition: background 450ms ease-in-out;
  transition: background 450ms ease-in-out, color 500ms;

}

.bt-animation-1:hover {
  background-position: 0;
}


.bt-animation-2 {
  border-color: #ffffff;
  color: #ffffff;
  background-image: -webkit-linear-gradient(45deg, #ffffff 50%, transparent 50%);
  background-image: linear-gradient(45deg, #ffffff 50%, transparent 50%);
  background-position: 100%;
  background-size: 400%;
  -webkit-transition: background 450ms ease-in-out;
  transition: background 450ms ease-in-out, color 500ms;

}

.bt-animation-2:hover {
  background-position: 0;
}

.bt-animation-3 {
  border-color: #263A8B;
  color: #ffffff;
  background-image: -webkit-linear-gradient(45deg, #ffffff 50%, transparent 50%);
  background-image: linear-gradient(45deg, #ffffff 50%, transparent 50%);
  background-position: 100%;
  background-size: 400%;
  -webkit-transition: background 450ms ease-in-out;
  transition: background 450ms ease-in-out, color 500ms;

}

.bt-animation-3:hover {
  background-position: 0;
}

.bt-animation-4 {
  border-color: #ffffff;
  color: #263A8B;
  background-image: -webkit-linear-gradient(45deg, #263A8B 50%, transparent 50%);
  background-image: linear-gradient(45deg, #263A8B 50%, transparent 50%);
  background-position: 100%;
  background-size: 400%;
  -webkit-transition: background 450ms ease-in-out;
  transition: background 450ms ease-in-out, color 500ms;

}

.bt-animation-4:hover {
  background-position: 0;
}

.lg-blue-btn-especial {
  box-sizing: border-box;
  display: flex;
  height: 3.25rem;
  width: fit-content;
  min-width: 11.5rem;
  min-height: 10%;
  background-color: #263A8B;
  border: 1px solid #263A8B;
  border-radius: 1rem;
  color: #ffffff;
  cursor: pointer;
  font-size: 1.5rem;
  font-weight: 700;
  text-indent: 5px;
  text-decoration: none;
  text-align: center;
  display: flex;
  text-decoration: none;
  justify-content: center;
  transition: 450ms;

}




.lg-blue-btn-especial:hover {
  color: #FFD233;
  padding-right: 1rem;

}

.lg-blue-btn-especial svg {
  margin-left: 10px;
  width: 2rem !important;
  height: 2rem !important;
}



/**************SVG****************/



path.svg-one {
  transition: 0.4s;
  transform: translateX(-60%);

}

path.svg-two {
  transition: 0.5s;
  transform: translateX(-30%);
}

.lg-blue-btn-especial:hover path.svg-three {
  animation: color_anim 1s infinite 0.2s;

}

.lg-blue-btn-especial:hover path.svg-one {
  transform: translateX(0%);
  animation: color_anim 1s infinite 0.6s;
}

.lg-blue-btn-especial:hover path.svg-two {
  transform: translateX(0%);
  animation: color_anim 1s infinite 0.4s;
}

/* SVG animations */

@keyframes color_anim {
  0% {
    fill: white;
  }

  50% {
    fill: #FFD233;
  }

  100% {
    fill: white;
  }
}

/* barra de navegação */

header {
  height: fit-content;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.3));
  z-index: 5;
}


.logo {
  width: 15rem;
}

.icone-1 {
  width: 40px;

}

.icone-2 {
  width: 60px;

}

/* apresentation */

.apresentation {
  width: 100%;
  height: fit-content;
  min-height: 65vh;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.569) 0%, rgba(209, 209, 209, 0) 82.4%, rgba(255, 255, 255, 0.381) 100%), url(../root/images/praia_background4.jpg);
  background-size: cover;
  background-repeat: no-repeat;

}

.barra-busca {
  width: max-content;
  height: fit-content;
  background: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(5px);
  border-radius: 1rem;
}

.busca {
  width: 27rem;
}

.barra-navegacao {
  width: 100%;
  height: 7rem;
  background: rgba(255, 255, 255, 0.7);

}

@media (max-width: 1000px) {
  .barra-navegacao {

    flex-wrap: nowrap;
    overflow-x: scroll !important;
  }
}

.barra-navegacao-container {
  height: fit-content;
}

.barra-navegacao-item {
  height: fit-content;

}


/* main */

.text-card {
  width: 327px;
  height: fit-content;
  margin-right: 7%;
}



.teste {
  width: 100% !important;
  height: 100% !important;

}


.carousel-container {
  width: 60%;

}


.carrossel-content {
  height: 100%;
  border-radius: 1rem;
}

.carrossel-content img {

  width: 100%;
  height: 25rem !important;
  object-fit: cover;


}

.conheca-section {
  width: 100%;
  height: 25rem;
}

.carousel-caption {
  position: absolute !important;
  right: 0% !important;
  bottom: 0 !important;
  left: 0% !important;
  color: #fff;
  text-align: center;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.44) 0%, rgba(0, 0, 0, 0.7) 100%);

  border-radius: 0px 0px 1rem 1rem;
  height: 30%;

}

.carousel-indicators {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  display: flex !important;
  justify-content: right !important;
  padding: 0;
  margin-right: 7% !important;
  margin-bottom: 1rem !important;
  margin-left: 15% !important;
  list-style: none;
}

.circulo {
  border-radius: 50%;
  width: 10px !important;
  height: 10px !important;
}








@media (max-width: 500px) {


  .carousel-container {
    width: 100%;
  }



}




/* responsivo */

@media (max-width: 1400px) {
  html {
    font-size: 15px;
  }


  .apresentation {
    min-height: fit-content;
    background-size: 140%;


  }

}

@media (max-width: 1200px) {
  html {
    font-size: 14px;
  }

  .apresentation {
    min-height: fit-content;
    background-size: 140%;


  }
}

@media (max-width: 1000px) {
  html {
    font-size: 13px;
  }

  .apresentation {
    min-height: fit-content;
    background-size: 150%;


  }

  .icone {
    width: 35px;
    height: 35px;
  }

}


@media (max-width: 800px) {
  html {
    font-size: 10px;
  }


  .apresentation {
    min-height: fit-content;
    background-size: 160%;

  }

  .icone {
    width: 25px;
    height: 25px;
  }


}

@media (max-width: 600px) {
  html {
    font-size: 9px;
  }

  .apresentation {
    min-height: fit-content;

  }
}

@media (max-width: 400px) {
  html {
    font-size: 8px;
  }
}



/* cards conheça o Brasil */

.card1 {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border-radius: 1rem;
}

.card1 img {
  border-radius: 1rem 1rem;
}

/* Modal */

a {
  text-decoration: none !important;

}

.botao-fechar {
  width: 5px;
  background: none;
  border: none;
  font-weight: 600;
  color: #fff;
  padding-right: 30px;
}

.botao-fechar img {
  width: 40px;

}

.modal-img {
  width: 40%;

}

.modal-img img {
  width: 100%;
  height: 30rem;
  object-fit: cover;
  border-radius: 1rem 0 0 1rem;
}


.centered {
  display: flex;
  align-items: center;
  justify-content: center;

}


.modal-dialog-centered {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 600px;
  min-height: calc(100% - 1rem);
}

@media screen and (max-width: 425px) {
  .modal-dialog-centered {
    min-width: 300px;
  }
}


.modal-content {
  width: 70% !important;
  min-width: fit-content;

}

.modal-conteudo {
  width: 90%;
}



.modal-header {
  border-bottom: none !important;
}

.modal-body,
form div {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}


.modal-body input {
  width: 90%;
  height: 3rem;
  padding: 5px;
  margin: 15px 0px;
  border-radius: 1rem;

}

#senha1 {
  position: relative;
  bottom: 1.45rem;
  left: 38%;
}

#senha2 {
  position: relative;
  bottom: 0rem;
  left: -11%;
}

#senha_1,
#senha_2 {
  margin-bottom: 0px;
}

/* animações */
/* 
[data-anime] {
  opacity: 0;
  transition: 0.5s;

}

[data-anime="left"] {
  transform: translate3d(-50px, 0, 0);
}

[data-anime="right"] {
  transform: translate3d(50px, 0, 0);
}

[data-anime].animate {
  opacity: 1;
  transform: translate3d(0px, 0px, 0px);
} */


/* paginas de serviços */

.apresentation-services {
  width: 100%;
  height: 100%;


}

.hospedagem-banner {
  border-radius: 1rem;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.569) 0%, rgba(209, 209, 209, 0) 82.4%, rgba(255, 255, 255, 0.381) 100%),
    url(/root/images/Hoteis/banner-img.jpg);
  height: 28rem;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.gastronomia-banner {
  border-radius: 1rem;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.569) 0%, rgba(209, 209, 209, 0) 82.4%, rgba(255, 255, 255, 0.381) 100%),
    url(/root/images/gastronomia/background_gastronomia.webp);
  height: 28rem;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.parques-banner {
  border-radius: 1rem;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.569) 0%, rgba(209, 209, 209, 0) 82.4%, rgba(255, 255, 255, 0.381) 100%),
    url(/root/images/parques/background-parque.webp);
  height: 28rem;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.atividades-banner {
  border-radius: 1rem;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.569) 0%, rgba(209, 209, 209, 0) 82.4%, rgba(255, 255, 255, 0.381) 100%),
    url(/root/images/atividades/background-atividade.jpg);
  height: 28rem;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.card2 {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;

}


.carousel-item-img img {
  height: 300px;
  object-fit: cover;

}

@media(max-width: 1400px) {
  .carousel-item img {
    height: 250px;
    object-fit: cover;

  }
}

@media(max-width: 1200px) {
  .carousel-item img {
    height: 300px;
    object-fit: cover;

  }
}

/* user page */

.user-icon {
  width: 12rem;
}

.campo-form {
  background: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(5px);
  border-radius: 1rem;
  border: none;
}

.apresentation-2 {

  background: linear-gradient(180deg, rgba(32, 32, 32, 0.299) 100%, rgba(0, 0, 0, 0) 82.4%, rgba(0, 0, 0, 0.202) 100%), url(/root/images/praia_background4.jpg);
  background-size: cover;
  background-repeat: no-repeat;

}

/* serviços */

.services-img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.services-img-1 {
  border-radius: 1rem 0 0 0;
}

.services-img-2 {
  border-radius: 0 0 0 1rem;
}

.services-img-3 {
  border-radius: 0 1rem 1rem 0;
}

.sombra {
  box-shadow: 0px 0px 15px rgba(56, 56, 56, 0.253);
  border-radius: 1rem;
}

.check-in {
  border: 1px #CECECE solid;
  border-radius: 1rem;
}

.check-in-item-1 {
  border-right: 1px #CECECE solid;

}

.check-in-item-2 {
  border-top: 1px #CECECE solid;

}

.reserve-btn {
  width: 100%;
}

.user-icon img {
  color: #263A8B;
}